.Container {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.Me {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 75px;
  align-items: center;
  transition: 0.5s;
}

.MeImage {
  height: 350px;
  width: 350px;
  border-radius: 100%;
  align-self: center;
  background-color: #5b2c6f;
}

.Titles {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.Title {
  font-size: 80px;
  color: #fff;
  text-align: center;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  transition: 2s;
  margin: 0px;
}

.Title2 {
  font-size: 80px;
  color: #5b2c6f;
  text-align: center;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
  margin: 0px;
}

.Title2::after {
  content: "";
  display: block;
  background-color: #5b2c6f;
  width: 100%;
  margin-top: 1px;
  height: 5px;
  clip-path: var(--clippy);
  transition: clip-path 0.5s;
}

.Title2:hover {
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.Subtitle {
  font-size: 40px;
  color: #fff;
  text-align: center;
  font-weight: 500;
  font-family: Sans-Serif;
}

.CV {
  background-color: #5b2c6f;
  border-radius: 20px;
  font-weight: 900;
  text-decoration: none;
  border: 1px solid #fff;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}
.CV:before {
  -webkit-animation: bg-scroll 3s linear infinite;
  animation: bg-scroll 3s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  background: repeating-linear-gradient(
    45deg,
    hsla(0, 0%, 100%, 0.2),
    hsla(0, 0%, 100%, 0.2) 0.7%,
    transparent 0,
    transparent 4%
  );
  border: 0 solid;
  box-sizing: border-box;
  content: "";
  display: block;
  height: 300%;
  left: -100%;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.3s, background-color 0.2s;
  width: 300%;
}
.CV:hover:before {
  -webkit-animation-play-state: running;
  animation-play-state: running;
  opacity: 1;
}
.CV:active:before {
  background-color: #fff;
}
@-webkit-keyframes bg-scroll {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(33%);
  }
}
@keyframes bg-scroll {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(33%);
  }
}
