.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 75vh;
}

.ContainerProyects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 75px;
  padding: 0px 0px 40px 0px;
}

.Proyect {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #5b2c6f;
  width: 350px;
  padding: 20px;
  border-radius: 50px;
  border: 1px solid #fff;
  gap: 30px;
}

.Proyect:hover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000;
  width: 350px;
  padding: 20px;
  border-radius: 50px;
  border: 1px solid #fff;
  gap: 30px;
}

.Proyect:hover a {
  color: #5b2c6f;
  background-color: #fff;
  border: 1px solid #5b2c6f;
}

.Title {
  font-size: 50px;
  text-align: center;
  font-family: Sans-Serif;
}

.Image {
  height: 220px;
  width: 350px;
  border-radius: 50px;
  border: 1px solid #fff;
}

.InfoTitle {
  font-size: 30px;
  font-family: Sans-Serif;
  text-align: center;
  text-decoration: underline;
}

.InfoSubtitle {
  font-size: 25px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.ImageTechnology {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 5px;
  padding: 2px;
}

.ContainerImages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Link {
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  width: auto;
  background-color: #5b2c6f;
  padding: 10px;
  border-radius: 50px;
  color: #fff;
  border: 1px solid #fff;
}
